:root {
    /* 웹사이트에 폰트 적용 */
    font-family: 'Paperlogy';
    font-weight: 400;
} 

//텍스트 선택영역 스타일
::selection{color:#fff; background:#20bec6;}

body{line-height:1.6;}
//1.6 : 영역별로 적용된 글자크기에 비례하여 1.6배를 적용함.
//1.6em : 글자크기(12px)에 비례하여 1.6배인 19.2px이 적용함.

a{display:inline-block; text-decoration:none; color:inherit;}
//속성값(inherit) : 부모요소에 설정된 값과 동일하게 설정한다
//텍스트관련한 스타일 대부분의 기본값


$main_color:#ffc070;
$sub_color:#4D4D4D;

header{
	position:fixed; width:100%; height: 80px; color:#4D4D4D;
	z-index:100; background-color: #fff;
	.inner{padding:0 25px;}
	a:hover{color:#FFC070;}
	#logo{
		margin:13px 0 0 0; position: absolute; left: 50px; 
		img{width:70px;}
		}//end:#logo
}//end:#header

#CS{position: fixed; background-color: #fff; width: 600px; display: none;
	height: 800px; z-index: 999; top: 54%; left: 50%; transform: translate(-50%, -50%);
	padding:60px 65px 0 65px;}
#CS .CS_logo{float: left;}
#CS .CS_logo img{width: 100px;}
#CS .remove{float: right; position: absolute; right: 0; top: 0;}
#CS .remove img{width: 30px; height: 30px;}
h2{margin-bottom: 30px; font-size: 30px;}
.design li{display: inline-block;}
.design{margin-bottom: 30px;}
.design span{vertical-align:-2px; display: inline-block; padding-left: 1px;}
#CS.active{display: block;} 
#CS .remove{float: right;}
#CS .h1{display: inline-block;}
h3{margin-bottom: 5px; font-size: 20px;}
.file ul li{font-size:13px;}
.contents li{font-size:13px;}
.contents .file{width: 50%; margin-bottom: 10px; text-align: left;}
.contents .file ul{display: flex;  justify-content: flex-start; gap: 96px;}
.contents .file ul:last-child li{width: 177px;}
.agree span{font-size: 12px; height: 32px;}
.check_wrap p{padding-left: 24px;}

#CS_inner{padding-left: 75px;}

label {
	font-size: 14px;
	line-height: 2rem;
  }
  [type="radio"], span {
	vertical-align: middle;
  }
  [type="radio"] {
	appearance: none;
	border: max(2px, 0.1em) solid gray;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	transition: border 0.2s ease-in-out;
  }
  [type="radio"]:checked {
	border: 0.4em solid #FFC070;
  }
[type="radio"]:hover {
	box-shadow: 0 0 0 max(2px, 0.2em) lightgray;
	cursor: pointer;
  }
[type="radio"]:hover + span {
	cursor: pointer;
  }




  [type="checkbox"]:focus-visible {
	outline: max(2px, 0.1em) dotted #FFC070;
	outline-offset: max(2px, 0.1em);
  }
  [type="checkbox"]:checked {
	border: 0.4em solid #FFC070;
  }

  input[type="checkbox"]{
	display:none;
	}
  
  input[type="checkbox"] + label{
	cursor:pointer;
   }
  
  input[type="checkbox"] + label > span{
	vertical-align: middle;
	padding-left: 5px;
   }
  
  /* label:before에 체크하기 전 상태 CSS */
  input[type="checkbox"] + label:before{
	content:"";
	display:inline-block;
	width:10px;
	height:10px;
	border:2px solid #FFC070;
	border-radius: 4px;
	vertical-align:middle;
	}
	
  /* label:before에 체크 된 상태 CSS */  
  input[type="checkbox"]:checked + label:before{
	content:"";
	background-color:#FFC070;
	border-color:#FFC070;
	background-image: url('../images/check_btn.png');
	background-repeat: no-repeat;
	background-position: 50%;
	}

	.btn_p{text-align: center;}
	.button {
		background: linear-gradient(#FFC070, #FF8F00);
		border: none;
		color: white;
		padding: 8px 40px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 12px;
		margin: 4px 2px;
		cursor: pointer;
	  }

      #gnb{text-align: center;
        li{display: inline-block; margin:0px 0; padding: 0 28px;}
        ul:first-child{margin-left: 0px;}
        ul:last-child{margin-right: 0px;}
        a{font-weight:bold;}
        li:last-child{position: relative;}
        li:last-child:hover .sub{display: inline-block;}
        >ul>li>a{text-decoration: none; color: $sub_color; display: inline-block;
          transition: transform 0.3s ease; padding: 35px 0;} 
        a:hover{color:$main_color;  transform: translateY(3px);}
        .sub {background: #4d4d4ddd;  padding: 10px 10px; position: absolute;top: 80px;right: 0px;
             /*outline: 3px solid #000;*/  display:none ;}
     
        .sub li a{text-decoration: none; color: $main_color; display: inline-block;
            transition: transform 0.3s ease; padding: 15px 0;}
        .sub li::before,
        .sub li::after {
            content: none;  /* 콘텐츠 제거 */
            display: none;   /* 가상 요소 숨기기 */
}
    }//end:#gnb
    
    #sns{position: absolute; top: 23px; right: 50px; align-items: center;
        li{display: inline-block; margin: 0 2.5px;}
        
        li:nth-child(4){vertical-align: 2px;}
        li:nth-child(1){vertical-align: 9px; padding-right: 5px;}
        a{font-size: 32px; line-height: 32px;}
        
        .sc{font-size: 29px;}
        .CS_btn{border: 2px solid #000; height: 14px; 
            line-height: 14px; border-radius: 12px; padding: 5px 5px;
            font-size: 16px;}
        .CS_btn:hover{border-color: #FFC070; background-color: #FFC070;
                      color: #fff;}
    }//end:#sns


main{height: 100vh; overflow: hidden;
    }

.container{
   
    .area{width: 100%; height: 100vh;}
    #intro{background: #fcc;}


    #c_introduction{background: $main_color;
        display: flex;            /* 부모 요소에서 flexbox 설정 */
        flex-direction: column;   /* 자식 요소들을 수직 방향으로 정렬 */
        justify-content: center;  /* 자식 요소들을 수직 중앙 정렬 */
        align-items: center;      /* 자식 요소들을 수평 중앙 정렬 */
        height: 100vh;     
        #c_wrap{width:80%; height:calc(100% - 100px); padding-top: 80px;
            #c_intro_text{width:100%; height: 35%; color: #fff;
                
                h3{font-size: 38px;line-height: 1.5; font-weight: 700; margin-top: 0px;}
                .into_Title::after {
                    content: "";
                    display: block;
                    width: 50px; /* 원하는 길이 */
                    border-bottom: 5px solid #fff;

                   
                    }
        
                p{font-size: 17px; line-height: 1.25; margin-top: 30px;}


            
            }
            #obj_list{
                display: flex;            /* 부모 요소에서 flexbox 설정 */
                flex-direction: column;   /* 자식 요소들을 수직 방향으로 정렬 */
                justify-content: center;  /* 자식 요소들을 수직 중앙 정렬 */
                align-items: center;
                width: 100%;
                color: $sub_color;

                ul{
                    display: flex; justify-content: space-between; 
                    width: 100%;  // 부모 요소 너비 맞추기
                    height: 100%;
                    
                    li{font-size: 15px; background: #fff; width: 21% ;padding:30px 20px;
                        
                    }
                    h3{margin-top: 10px;font-size: 23px; font-weight: 600;}
                    .list_text{margin-top: 23px; font-size: 15px;  line-height: 1.2;}
                    img{object-fit: cover; width: 100%; height: 290px;  margin: 25px 0 ;}
                    .btn{border: 1px solid $sub_color; text-align: center;  height: 3%; 
                        line-height: 3vh; transition:all .2s; font-weight: 500;
                    }

                    .btn:hover{background: $main_color; color: #fff; border: 1px solid #fff;}
                    

                }
            
            }
        
        }

    
    }


    #portfolio{
        display: flex; justify-content: center; align-items: center;
        background: #fff; height: 100vh;
        #p_wrap{width:75%; height:70%; color: #000;
            display: flex; justify-content: center; align-items: center;
            flex-direction: column; 
            h1{text-align: center; font-size: 40px; margin: 0.3em 0 0.7em 0; color: $main_color; font-weight: 600;}
            h2{color: $sub_color;}
            }
       

        .tab_menu{display: flex; justify-content: center; margin-bottom: 20px; width: 50%; }
        .tab_menu li{width: 25%; text-align: center;}
       
        
        .tab_menu a{display: block; font-size: 16px; color: #000; text-decoration: none;
        padding: 0.5em 0.5em; line-height: 1.5em;  border-bottom: 3px solid #ccc ;
        transition: all 0.2s ease-in-out;}
        .tab_menu a:hover,
        .tab_menu a.active{border-bottom: 3px solid $main_color; color: $main_color; }

        .tab_contents{padding-top: 10px; display: flex; flex-wrap: wrap; gap: 40px; 
            height: 75%; width: 100%; position: relative;
            article{width: 100%;  height: 100%; visibility: hidden; position: absolute; 
                    opacity: 0;  transform: translateY(20px);
                    transition: opacity 0.3s ease, transform 0.3s ease; 
                ul{display: flex; justify-content: space-between; flex-wrap: wrap;}
                li{width:25%; height: 300px; background: #444; position: relative; overflow: hidden;
                    position: relative;
                  }
                li img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.3s ease-in-out; align-items: center;
                    transform-origin: center; 
                    object-fit: cover;
                    transform: translate(-50%, -50%) scale(1); /* 중앙 정렬 */
                   }

                li:hover img{transform: translate(-50%, -50%) scale(1.2); /* 확대 시 중앙 유지 */}
                li .tab_text{ position: absolute;
                    top: 0; left: 0;    
                    width: 100%; height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    line-height: 30px; background: #0007; color: #fff;font-size: 1.1em;
                    opacity: 0;
                            } 
                li:hover .tab_text{opacity: 1; transition: all 1s;}
            }
            article.active{visibility: visible;
                            opacity: 1;
                            transform: translateY(0);}
                
        }
    }
    #foot{background: #fff; 
        
        display: flex;            /* 부모 요소에서 flexbox 설정 */
        flex-direction: column;   /* 자식 요소들을 수직 방향으로 정렬 */
        justify-content: center;  /* 자식 요소들을 수직 중앙 정렬 */
        align-items: center;      /* 자식 요소들을 수평 중앙 정렬 */
        height: 100vh;           


        #f_wrap{width:100%; height:85%; margin: 0 auto;
                display: flex; justify-content: center; align-items: center;
                flex-direction: column;
                
                
                #proj_q{color: $sub_color; margin-top: 8%;
                    background:linear-gradient(45deg, $main_color, #fee2bd); 
                    text-align: center; height:30% ;width: 100%; padding: 40px;
                    border-radius: 14px; 
                    display: flex; flex-direction: column; justify-content: center;
                    
                
                    /*outline: 3px solid #f00; */
                    h2{font-size:32px; color: #000; font-weight: 500;}
                    h3{font-size: 18px; margin: 30px 0 ; }
                    p{text-align: center;   /* 가로 중앙 */
                        line-height: 50px;    /* 높이와 동일하게 설정하면 세로 중앙 */
                        width: 200px;
                        height: 50px;
                        border: 3px solid #fff;
                        color: #000;
                        font-size: 16px;
                        border-radius: 6px; margin: 0 auto;
                        transition: all .2s;}
                        p:hover{background: #fff; }
                    }

                #photo_r{margin-top: 5%;
                     height:30% ;width: 70%;
                    #review{display: flex; gap: 20px; justify-content: space-between; width: 100%;
                        
                        

                          .re_section{border: 2px solid $main_color; width: 25%; 
                                border-radius: 19px; padding: 20px; display: flex; gap: 15px;
                                .icon{display: flex; align-items: center;
                                .login-icon {
                                    position: relative;
                                    display: inline-block;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    background-color: #4CAF50;
                                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
                                }
                                
                                /* 사람 머리 */
                                .login-icon::before {
                                    content: '';
                                    position: absolute;
                                    top: 15%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 20px;
                                    height: 20px;
                                    background-color: white;
                                    border-radius: 50%;
                                }
                                
                                /* 사람 몸 */
                                .login-icon::after {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 30px;
                                    height: 15px;
                                    background-color: white;
                                    border-radius: 15px / 7.5px;
                                }
                            }
                        
                          
                            .re_section_t >P{line-height: 1.5; font-size: 15px; text-align: left; font-weight: 400;}
                            }    }
                            .re_section:hover{padding: 30px; z-index: 9999;}
                        
                              
                
                        .re_text{display: flex; justify-content: space-between; margin-bottom: 20px;
                                >p{font-size: 12px; color: #444;}}
                        li{display: flex;}   
                       

                        
                      
                    }
                }


                }
        #foot_b{font-weight: 300; font-size: 15px;
                height:15% ;width: 70%;
                display: flex; justify-content:space-between;align-items: flex-end; padding: 25px;
               
                li{line-height: 1.2;}

                
                li:nth-child(3){padding-top: 30px; color:#0011FF ;}
                #copy>ul{text-align: right;}
                #copy>ul>li{line-height: 1.5;}
            }    
        
            
             
       
        
    }


